In [1]:
# Import Dependencies
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
import os

# Retrieve files
# file_1 = pd.read_csv('Resources/')

In [7]:
housing_price = pd.read_csv('Resources/housing_prices.csv')
housing_price = housing_price.dropna()
housing_price

,Date,Area,Composite_HPI,Two_Storey_HPI,Apartment_HPI,Composite_Benchmark,Two_Storey_Benchmark,Apartment_Benchmark
0,Jan 2005,Barrie_and_District,100.0,100.0,100.0,209000.0,220600.0,166400.0
1,Feb 2005,Barrie_and_District,101.5,101.2,100.3,212100.0,223200.0,166900.0
2,Mar 2005,Barrie_and_District,102.8,102.9,100.6,214800.0,227000.0,167400.0
3,Apr 2005,Barrie_and_District,103.5,103.4,100.9,216300.0,228100.0,167900.0
4,May 2005,Barrie_and_District,104.5,104.0,101.2,218400.0,229400.0,168400.0
...,...,...,...,...,...,...,...,...
1105,Jan 2020,Oakville_Milton,276.4,280.4,247.6,1048400.0,1100600.0,553600.0
1106,Feb 2020,Oakville_Milton,284.2,289.9,248.4,1078000.0,1137900.0,555400.0
1107,Mar 2020,Oakville_Milton,293.5,300.0,253.1,1113200.0,1177500.0,565900.0
1108,Apr 2020,Oakville_Milton,289.2,292.8,257.1,1096900.0,1149300.0,574900.0
1109,May 2020,Oakville_Milton,290.0,292.5,266.8,1100000.0,1148100.0,596600.0

In [8]:
housing_price["Area"].unique()

array(['Barrie_and_District', 'Greater_Toronto', 'Guelph',
       'Hamilton_Burlington', 'Niagara_Region', 'Oakville_Milton'],
      dtype=object)

In [15]:
housing_price['new_date'] = pd.to_datetime(housing_price["Date"],format='%d/%m/%Y')

ValueError: time data 'Jan 2005' does not match format '%d/%m/%Y' (match)

In [12]:
housing_price.groupby("Area").mean()

,Composite_HPI,Two_Storey_HPI,Apartment_HPI,Composite_Benchmark,Two_Storey_Benchmark,Apartment_Benchmark
Area,,,,,,
Barrie_and_District,155.593514,155.686486,139.924324,325151.351351,343434.054054,232809.189189
Greater_Toronto,167.686486,169.700000,162.280541,508868.648649,608062.702703,325266.486486
Guelph,145.029730,147.505946,132.647027,360488.108108,383890.810811,213751.351351
Hamilton_Burlington,166.100541,169.979459,165.494054,374290.270270,415212.432432,258014.054054
Niagara_Region,146.840541,146.426486,138.548108,253471.891892,269364.324324,187567.567568
Oakville_Milton,174.945946,176.851892,157.782703,663572.432432,694169.189189,352796.756757