In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np
from datetime import datetime

In [4]:
region_price = pd.read_csv("housing_prices.csv")
region_price = region_price.dropna()
region_price

,Date,Area,Composite_HPI,Two_Storey_HPI,Apartment_HPI,Composite_Benchmark,Two_Storey_Benchmark,Apartment_Benchmark
0,Jan 2005,Barrie_and_District,100.0,100.0,100.0,209000.0,220600.0,166400.0
1,Feb 2005,Barrie_and_District,101.5,101.2,100.3,212100.0,223200.0,166900.0
2,Mar 2005,Barrie_and_District,102.8,102.9,100.6,214800.0,227000.0,167400.0
3,Apr 2005,Barrie_and_District,103.5,103.4,100.9,216300.0,228100.0,167900.0
4,May 2005,Barrie_and_District,104.5,104.0,101.2,218400.0,229400.0,168400.0
...,...,...,...,...,...,...,...,...
1105,Jan 2020,Oakville_Milton,276.4,280.4,247.6,1048400.0,1100600.0,553600.0
1106,Feb 2020,Oakville_Milton,284.2,289.9,248.4,1078000.0,1137900.0,555400.0
1107,Mar 2020,Oakville_Milton,293.5,300.0,253.1,1113200.0,1177500.0,565900.0
1108,Apr 2020,Oakville_Milton,289.2,292.8,257.1,1096900.0,1149300.0,574900.0
1109,May 2020,Oakville_Milton,290.0,292.5,266.8,1100000.0,1148100.0,596600.0

In [6]:
region_price.groupby('Area')['Date'].max()

Area
Barrie_and_District    Sep 2019
Greater_Toronto        Sep 2019
Guelph                 Sep 2019
Hamilton_Burlington    Sep 2019
Niagara_Region         Sep 2019
Oakville_Milton        Sep 2019
Name: Date, dtype: object

In [10]:
pd.to_datetime(region_price["Date"],format="%m-%Y")

ValueError: time data 'Jan 2005' does not match format '%m-%Y' (match)